.p-about {
    text-align: justify;
    color: #434343;
    font-size: 20px;
}

@media (max-width: 768px) {
    .p-about {
        font-size: 12px;
    }
}

.judul-about {
    font-family: nexa;
    text-align: center;
    /* color: #febf2c; */
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

@media (max-width: 768px) {
    .judul-about {
        font-size: 30px;
    }
}

.yellow {
    background: -webkit-linear-gradient(left, #F7EB23 30%, #F26B35);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.orange {
    background: -webkit-linear-gradient(left, #F05B36, #F7EB23);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.yellow-orange {
    background: -webkit-linear-gradient(left, #F26B35, #F7EB23);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-bg {
    background: #3C3B3F;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #605C3C, #3C3B3F);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    padding: 80px 0;
    margin: 0 10%;
    box-shadow: 0 0.5em 2em#111;
}

/* timeline Section
--------------------------------*/
#timeline {
    /* padding: 80px 0; */
}

#timeline .acara{
    font-size: 24px !important;
    font-weight: bold;
}
#timeline .tanggal{
    font-size: 16px !important;
}
@media (max-width: 768px) {
    #timeline .acara{
        font-size: 16px !important;
        margin-bottom: 0;
    }
    #timeline .tanggal{
        font-size: 12px !important;
    }
}

#timeline h5,
p {
    color: white;
}

/* Fasilitas */
#fasilitas {
    padding: 80px 0;
}

#fasilitas h2 {
    text-align: center;
}

@media (max-width: 768px) {
    #fasilitas h2 {
        font-size: 12px;
    }
}

/* Hadiah */
#hadiah {
    padding: 80px 0;
}

#hadiah .juara {
    text-align: center;
}

#hadiah .juara h1 {
    font-family: nexa;
}

@media (max-width: 768px) {
    #hadiah .juara h1 {
        font-size: 30px;
    }
}

#hadiah .juara h4 {
    color: white
}