.p-about {
    text-align: justify;
    color: #434343;
    font-size: 20px;
}

@media (max-width: 768px) {
    .p-about {
        font-size: 16px;
    }
}

.judul-about {
    font-family: nexa;
    text-align: center;
    color: #febf2c;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

@media (max-width: 768px) {
    .judul-about {
        font-size: 40px;
    }
}

.yellow {
    background: -webkit-linear-gradient(left, #F7EB23 30%, #F26B35);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.orange {
    background: -webkit-linear-gradient(left, #F05B36 30%, #F7EB23);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.yellow-orange {
    background: -webkit-linear-gradient(left, #F26B35 5%, #F7EB23);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-bg {
    background: #3C3B3F;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #605C3C, #3C3B3F);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    padding: 80px 0;
    margin: 0 10%;
    box-shadow: 0 0.5em 2em#111;
}

/* timeline Section
--------------------------------*/
#timeline {
    /* padding: 80px 0; */
}

#timeline .acara{
    font-size: 30px !important;
    font-weight: bold;
}
#timeline .tanggal{
    font-size: 20px !important;
}
@media (max-width: 768px) {
    #timeline .acara{
        font-size: 20px !important;
        margin-bottom: 0;
    }
    #timeline .tanggal{
        font-size: 16px !important;
    }
}

#timeline h5,
p {
    color: white;
}

/* Fasilitas */
#fasilitas {
    padding: 180px 0;
}

#fasilitas h2 {
    text-align: center;
}

@media (max-width: 768px) {
    #fasilitas h2 {
        font-size: 20px;
    }
}

/* Hadiah */
#hadiah {
    padding: 80px 0;
}

#hadiah .juara {
    text-align: center;
}

#hadiah .juara h1 {
    font-family: nexa;
    font-size: 60px;
}

@media (max-width: 768px) {
    #hadiah .juara h1 {
        font-size: 35px;
    }
}

#hadiah .juara h4 {
    color: white;
    font-size: 40px;
}

@media (max-width: 768px) {
    #hadiah .juara h4 {
        font-size: 25px;
    }
}

/* Regis 2 */
#regis{
    padding: 180px;
    text-align: center;
}

#regis .btn-daftar {
    font-family: nexa;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 1px;
    padding:  13px 25px;
    border-radius: 30px;
    background-size: 200% auto;
    background-image: linear-gradient(to left, #F7EB23 0%, #FBB12F 50%, #F26B35 100%);
    margin: 0 25px;
    box-shadow: 0 0.1em 0.5em#111;
    color: white;
    width: 100px !important;
}

@media (max-width: 768px) {
    #regis .btn-daftar {
        font-size: 30px;
    }
}

#regis .btn-daftar:hover {
    background-position: right center;
    transition: 0.5s;
}