<section id="seminarnya">
    <!--yang atas-->
    <div class="containerku">
        <div class="rownya">
            <!--headerlah-->
             <h3 class="judul-about orange">

        SEMINAR NASIONAL

      </h3>
            <p class="content-detail">"Virtual Reality & Augmented Reality : Experiencing the Impossible"</p>
        </div>
    </div>
    <!--tengah-->
    <div class="containerku">
        <div class="rownya">
            <!--isinya-->
            <div content-right ">

        <div class="rownya ">

          <ul class="listing-item ">



            <!--pertama-->

            <li>



              <div class="col-md-6 col-sm-6 ">



                <div class="wrap-card ">

                  <!--atas bawah-->

                  <div class="card ">

                    <!--kanan kiri-->



                    <img class="foto-profil " width="100% " src="img/seminar/sukmapaulus.png ">



                  </div>

                </div>

              </div>



            </li>



            <!--kedua-->

            <li>



              <div class="col-md-6 col-sm-6 ">

                <div class="wrap-card ">

                  <div class="card ">



                    <img class="foto-profil " width="100% " src="img/seminar/senja.png ">

                  </div>

                </div>

              </div>



            </li>



            <!--ketiga-->

            <li>



              <div class="col-md-6 col-sm-6 ">

                <div class="wrap-card ">

                  <div class="card ">



                    <img class="foto-profil " width="100% " src="img/seminar/tonysh.png ">



                  </div>

                </div>

              </div>



            </li>



          </ul>



        </div>

      </div>



    </div>

  </div>



  <!--yang bawah-->



  <div class="containerku ">

    <div class="rownya ">



      <!--isinya-->

      <div content-right">
                <div class="rownya">
                    <ul class="listing-item">
                        <!--pertama-->
                        <li>
                            <div class="col-md-6 col-sm-6">
                                <!--<img src="img/sukmapaulus.png">-->
                                <div class="wrap-card">
                                    <!--atas bawah-->
                                    <div class="card">
                                        <!--kanan kiri-->
                                         <h2 class="nama">

                      Sukma Paulus

                    </h2>
                                        <p class="job">Product Manager</p>
                                        <p class="company">MSI (Micro-star International Co., Ltd.)</p>
                                        <hr>
                                        <div class="text-detail">
                                            <p>MSI merupakan sebuah perusahaan spesialis pengembangan perangkat gaming,
                                                salah satunya adalah Virtual Reality (VR). Hingga saat ini, MSI telah membuktikan
                                                fokusnya pada pengembangan VR dengan mengeluarkan berbagai perangkat yang
                                                mendukung teknologi ini.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--kedua-->
                        <li>
                            <div class="col-md-6 col-sm-6">
                                <div class="wrap-card">
                                    <div class="card">
                                        <!--<img width="90%" src="img/senja.png">-->
                                         <h2 class="nama">

                      Senja Lazuardy

                    </h2>
                                        <p class="job">Direktur IT</p>
                                        <p class="company">WIR Group</p>
                                        <hr>
                                        <div class="text-detail">
                                            <p>Beliau merupakan Co-Founder Augmented Reality & co. Beliau memimpin tim
                                                teknis senior dengan keahlian di bidang Augmented Reality dan Computer
                                                Vision. AR & CO sendiri merupakan perusahaan yang bergerak di bidang augmented
                                                reality dan innovative technology terbesar se-asia.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--ketiga-->
                        <li>
                            <div class="col-md-6 col-sm-6">
                                <div class="wrap-card">
                                    <div class="card">
                                        <!--<img width="90%" src="img/tonysh.png">-->
                                         <h2 class="nama">

                      Tony Seno Hartono

                    </h2>
                                        <hr>
                                        <div class="text-detail">
                                            <p>Seorang National Technology Officer yang berperan menjadi pimpinan advokasi
                                                dan duta Teknologi dan Kebijakan Pemerintah, Sektor Publik, dan Sektor-Sektor
                                                Pendidikan di Microsoft Indonesia. Salah satu mimpi beliau adalah mewujudkan
                                                Generasi Muda Indonesia untuk memimpin Indonesia agar menjadi Negara paling
                                                kompetitif di dunia melalui Teknologi Informasi dan Komunikasi.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>