<div class="row">
     <div class="container">
      <section class="customer-logos slider">
        <div class="slide"><img src="img/sponsor/image1.png"></div>
        <div class="slide"><img src="img/sponsor/image2.png"></div>
        <div class="slide"><img src="img/sponsor/image3.png"></div>
        <div class="slide"><img src="img/sponsor/image4.png"></div>
        <div class="slide"><img src="img/sponsor/image5.png"></div>
        <div class="slide"><img src="img/sponsor/image6.png"></div>
        <div class="slide"><img src="img/sponsor/image7.png"></div>
        <div class="slide"><img src="img/sponsor/image8.png"></div>
      </section>
     </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.customer-logos').slick({
                slidesToShow: 6,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 1000,
                arrows: false,
                dots: false,
                    pauseOnHover: false,
                    responsive: [{
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 4
                    }
                }, {
                    breakpoint: 520,
                    settings: {
                        slidesToShow: 3
                    }
                }]
            });
        });
    </script>

</body>

<section id="footer" class="footer_widget">
 <div class="video_overlay">
  <div class="container="container-fluid">
   <div class="row">
    
    <div class="col-sm-12">
     <div class="row">
      <div class="main_widget">
       <div class="col-sm-3 col-xs-12">
        <div class="single_widget wow fadeIn" data-wow-duration="800ms">
         <div class="footer_title">
          <h4>PETA LOKASI</h4>
           <div class="separator"></div>
         </div>
         <div class="mapouter">
          <div class="gmap_canvas">
           <iframe width="200" height="200" id="gmap_canvas" src="https://maps.google.com/maps?q=teknik%20elektro%20dan%20teknologi%20informasi%20ugm&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
           <a href="https://www.pureblack.de/google-maps/"></a></div><style>.mapouter{text-align:right;height:200px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:200px;width:200px;}</style>
    </div></div></div>

    <div class="col-sm-3 col-xs-12">
     <div class="single_widget wow fadeIn" data-wow-duration="800ms">
      <div class="footer_title">
       <h4>SOCIAL MEDIA</h4>
        <div class="separator"></div>
         </div>
          <ul>
           <li><a href="https://www.facebook.com/TechnocornerUGM">Facebook</a></li>
            <li><a href="https://www.twitter.com/TechnocornerUGM">Twitter</a></li>
            <li><a href="https://www.instagram.com/technocornerugm">Instagram</a></li>
            <li><a href="https://line.me/R/ti/p/%40kdo2899c">Line</a></li>
            <li><a href="https://www.youtube.com/channel/UC0T3ca79_Db-q9sHXTYeXIg">Youtube</a></li>
          </ul> 
     </div>
    </div>

    <div class="col-sm-3  col-xs-12">
     <div class="single_widget wow fadeIn" data-wow-duration="800ms">
      <div class="footer_title">
       <h4>Contact Person</h4>
        <div class="separator"></div>
      </div>
       <ul>
        <li><a href="">CP IoT:<br>Fadhlan siapa saya gak tau<br>0878-3859-5547</a></li>
        <li><a href="">CP EEC:<br>Resha ini juga saya gak tau<br>0815-7860-8173</a></li>
       </ul> 
      </div>
     </div>

    <div class="col-sm-3 col-xs-12">
     <div class="single_widget wow fadeIn" data-wow-duration="800ms">
      <div class="footer_title">
       <h4>Contact Person</h4>
      <div class="separator"></div>
     </div>
      <ul>
        <li><a href="">CP Sumo:<br>Bagas yang ini juga sama<br>0822-1054-4498</a></li>
        <li><a href="">CP Rescue:<br>Harit cuma data taun lalu<br>0821-7265-1150</a></li>
        <li><a href="">CP Soccer:<br>Patar data taun lalu<br>0813-1155-2535</a></li>
      </ul> 
     </div>
    </div>
    
</div></div></div></div></div></div></div></div></section>

<section class="footer">
 <div class="container">
  <div class="row">
   <div class="col-sm-12">
    <div class="main_footer">
     <div class="row">

      <div class="col-sm-6 col-xs-12">
       <div class="copyright_text">
        <p class=" wow fadeInRight" data-wow-duration="1s">Technocorner 2019 || Made by <a href="https://bootstrapthemes.co">Bootstrap Themes</a>2018. All Rights Reserved</p>
       </div>
      </div></div></div></div></div></div></section></div>