<!--==========================
  Second Header
  ============================-->
<header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
      <!-- <a href="#hero"><img src="img/logo-dark.png" alt="" title="" /></a> -->
      <!-- Uncomment below if you prefer to use a text logo -->
      <h1><a href="#hero">Technocorner</a></h1>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu home"><a href="../index.html">Home</a></li>
        <!-- <li><a href="#galeri">Galeri</a></li>
          <li><a href="#kompetisi">Kompetisi</a></li>
          <li><a href="#seminar">Seminar</a></li> -->
        <li class="menu-has-children"><a href="">Event</a>
          <ul>
            <li><a href="#">SoccerBot</a></li>
            <li><a href="#">SumoBot</a></li>
            <li><a href="#">MachBot</a></li>
            <li><a href="#">IOT</a></li>
            <li><a href="#">EEC</a></li>
            <li><a href="#">Seminar</a></li>
          </ul>
        </li>
        <li class="menu-has-children"><a href="">Daftar</a>
          <ul>
            <li><a href="../lomba/daftar-soccer.html">SoccerBot</a></li>
            <li><a href="../lomba/daftar-sumo.html">SumoBot</a></li>
            <li><a href="../lomba/daftar-machbot.html">MachBot</a></li>
            <li><a href="../lomba/daftar-iot.html">IOT</a></li>
            <li><a href="../lomba/daftar-eec.html">EEC</a></li>
            <li><a href="../lomba/daftar-semnas.html">Seminar</a></li>
          </ul>
        </li>
      </ul>
      <!-- <li><a href="lomba/daftar.html">Daftar</a></li> -->
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->